.cardTable{
    border: 10px solid #CEE6F3;
    border-radius: 0.5rem;
}


form {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 0.5rem;
}

form input {

    background-color: transparent;
    border: 1px solid #7B8FA1;
    padding: 0.5rem;
    width: 75%;
    height: 38px;
    border-radius: 0.5rem;
    align-items: center;
}


.searchInput{

    width: 300px;
}
